* {
	box-sizing: border-box;
}

@font-face {
   font-family: Montreal-Serial-Bold;
   src: url(Montreal-Serial-Bold.ttf);
}

body {
	margin: 0;
	width: 100%;
	font-family: Montreal-Serial-Bold;
	font-size: 32px;
	color: #B1B1B1;
}

.container {
    text-align: center;
	width: 400px;
	margin: 0 auto;
}

.holder {
	width: 400px;
	height: 450px;
	margin: 0 auto;
}

.all {
	position: absolute;
}

.cir-green {
	z-index: 0;
	top: 50px;
    height: 400px;
    width: 400px;
	border-radius: 200px;
	background-color: #94BA66;
}

.cir-lightblue {
	z-index: 1;
	top: 50px;
  	height: 0;
  	width: 0;
	border-top: 400px solid transparent;
  	border-left: 200px solid transparent;
  	border-right: 200px solid #298FB0;
	border-radius: 50%;
}

.cir-darkblue {
    z-index: 2;
    top: 50px;
    height: 0;
    width: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 400px solid #295074;
    border-radius: 100%;
}

.tri-orange {
    position: relative;
	z-index: 3;
	background-color: #F27324;
    top: 140px;
    left: 140px;
	width: 120px;
	height: 200px;
}

.squ-left {
    position: relative;
    z-index: 4;
    background-color: #FFFFFF;
    left: 84px;
    top: -171px;
    width: 80px;
    height: 400px;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.squ-right {
       position: relative;
       z-index: 5;
       background-color: #FFFFFF;
        left: 225px;
        top: -571px;
       width: 80px;
       height: 400px;
        border-bottom-right-radius: 30px;
       -ms-transform: rotate(155deg);
       -webkit-transform: rotate(155deg);
       transform: rotate(155deg);
   }

.squ-bottom {
    position: relative;
    z-index: 6;
    background-color: #FFFFFF;
    left: 100px;
    top: -720px;
    width: 200px;
    height: 75px;
}